.warranty-infor-container {
  width: 80%;
  margin-bottom: 80px;

}

.table-head-cell h1 {
  text-align: center !important;
  /* Add !important to override other styles */
  font-weight: bold;
  font-size: 2.5em;
  color: #4f4f4f;
}

.table-container {
  margin: 20px;
  margin-top: 5%;
  box-shadow: none;
}

.table-head-cell {
  text-align: center;
}

.list {
  padding-left: 20px;
  padding-right: 20px;
}

.typography-subtitle {
  margin-top: 20px;
}

.vertical-line {
  border-right: 1px solid #ccc;
}

.no-border {
  border-bottom: none !important;
}

.combined-cell {
  border-right: 1px solid #ddd;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list li {
  position: relative;
  margin-bottom: 8px;
  padding-left: 20px;
}

.list li::before {
  content: "-";
  position: absolute;
  left: 0;
  color: #000;
}

.list ul {
  list-style-type: none;
  padding-left: 20px;
}

.list ul li::before {
  content: "+";
  position: absolute;
  left: 0;
  color: #000;
}

.list ul::before {
  content: "";
  /* Remove the hyphen */
}

.list ul li strong::before {
  content: none;
  /* Remove the hyphen */
}

.list h5 {
  font-size: 16px;
}

.list li strong {
  font-weight: bold;
}

.notes-cell {
  border-left: 1px solid #ddd;
}

.MuiTable-root {
  background-color: #ffff !important;
}