/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

.inter-div {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  background-color: #ffffff;
}

.ant-form-item-explain-error {
  text-align: start;
}
