.delivery-staff-title {
  padding: 20px 0 20px;
  color: #38a9b8;
  text-align: center;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 600;
}

.delivery-toggle {
  margin-top: 40px !important;
}

.table-deliver {
  padding: 30px;
  background-color: #f8f9fa;

}

.delivery-staff-filter-buttons {
  margin-top: 20px;
}

.delivery-staff-filter-buttons>button {
  border-radius: 0 !important;
}


.delivery-search-bar {
  margin-top: 10px;
}