
.product-card-item {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.product-card-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .product-card-item {
        margin-bottom: 15px;
    }
}
