.sale-banner {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 1%;
}
.sale-banner > .top-banner {
  width: 100%;
}
.sale-banner > .bot-banner {
  margin-top: 2%;
  width: 60%;
}
.content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #38a9b8;
}
.sale-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sale-content p {
  margin: 0 10px;
  position: relative;
  font-weight: bold;
  color: #38a9b8;
}
.sale-content p:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.sale-content-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sale-content-img > img {
  width: 10%;
  margin: 1%;
  background-color: #ebebeb;
  border-radius: 50%;
  padding: 1%;
}
.button {
  display: flex;
  justify-content: center;
  margin: 1%;
  width: 100%;
  padding-right: 2%;
}
.MuiButton-colorPrimary {
  background-color: #ffff !important;
  border-radius: 25rem !important;
}
