.form-logo {
  width: 20%;
}

.form-header {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.form-comeback {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 10px;
  text-decoration: none;
  color: black;
}

.form-comeback:hover {
  color: black;
}
.form-comeback span {
  font-size: larger;
  font-weight: bold;
}

.form-radio-element {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
