.tracking-page h4 {
  color: #38a9b8;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

hr.solid {
  margin-top: 0px;
  border-top: 3px solid #bbb;
}

/*theo doi don hang*/

.order-tracking {
  margin-top: 40px;
}

.order-tracking .card {
  box-shadow: none !important;
}

.order-tracking h3 {
  color: #38a9b8;
  margin: 20px 0 15px;
  font-weight: bold;
}

.order-tracking-content {
  border: 1px solid #d1d1d1;
  border-radius: 0;

}

.shipping-info {
  display: flex;
  justify-content: space-between;
  border-top: none;
  border-bottom: none;
}

.tracking-separator {
  margin: 0 10px;
}

.order-tracking-content .order-tracking-id {
  text-align: left;
}

/*order-cancel*/

.order-canceled-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-background);
  padding: 3rem 1rem;
}

.order-canceled-content {
  text-align: center;
  max-width: 28rem;
  margin: 0 auto;
}

.order-canceled-icon {
  font-size: 40px;
  color: red;
}

.order-canceled-title {
  margin-top: 1rem;
  font-size: 1.875rem;
  font-weight: bold;
  color: black;
}


.order-canceled-message {
  margin-top: 1rem;
  color: var(--color-muted-foreground);
}

.order-canceled-action {
  margin-top: 5px;
}

.order-canceled-link {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: medium;
  color: var(--color-primary-foreground);
  box-shadow: var(--shadow-sm);
  transition: background-color 0.2s;
}

.order-canceled-link:hover {
  background-color: var(--color-primary-hover);
}

.order-canceled-link:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--color-primary-focus);
}


/*  */

.card {
  margin-bottom: 20px;
  /* border: 1px solid #ffffff; */
  border-radius: 0;
}

.card-body {
  padding: 20px;
}