.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgb(226, 226, 226);
}



.search-bar {
  display: flex;
  width: 100%;
}

.search-input-item {
  flex: 1;
  margin-bottom: 0;
}

.search-input {
  width: 100%;
  padding: 5px 10px;
  border: none;
  outline: none;
  font-size: 14px;
  height: 40px;
}

.search-button {
  background-color: #06b6d4;
  border: none;
  border-radius: 0px;
  padding: 5px 10px;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  outline: none !important;
  background-color: #20a1c5 !important;
  box-shadow: none !important;
}

.search-button:focus,
.search-button:active {
  background-color: #06b6d4 !important;
  outline: none !important;

}

.search-button i {
  color: rgb(255, 255, 255);
  font-size: 14px;
}