.product-detail {
  display: flex;
  margin-top: 50px;
}
.relevant-product-card-item {
  width: calc(100% / 6);
  margin-bottom: 20px;
}

.product-detail-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product-title {
  font-weight: bold;
}

.select-material {
  display: flex;
  gap: 20px;
}

.select-size {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.select-quantity {
  display: flex;
  gap: 20px;
}

.button-buy {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.button-buy button {
  width: 100%;
  background-color: #00c2d1;
}

/*thong tin san pham*/

.header-product-info {
  color: #38a9b8;
  font-weight: bold;
  border-bottom: 2px solid #38a9b8;
  padding-bottom: 10px;
  padding-top: 30px;
}

.product-detail-stat {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.info-detail {
  display: flex;
  gap: 3px;
  margin-bottom: 20px;
}

.info-detail p {
  margin: 0;
}

.info-detail p:first-child {
  margin-top: 0;
  font-weight: bold;
}

.relevant-product-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.relevant-productcard {
  width: 25%;
}

.size-choosing-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*san pham tuong tu*/

.header-relevant-product {
  color: #38a9b8;
  font-weight: bold;
  /* border-bottom: 2px solid #38a9b8; */
  padding-bottom: 10px;
  padding-top: 30px;
}

.product-card-item {
  width: 25% !important;
  flex: 1 0 20%;
  /* Ensure the column takes up 20% of the row */
  margin-bottom: 20px;
}

.product-card-item .product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-card-item img {
  max-height: 150px;
  /* Adjust based on your design */
  object-fit: contain;
}

.product-card-item .product-card-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*COMMENT SECTION*/

/* General styles for the review section */
.product-reviews {
  font-family: Arial, sans-serif;
}

.header-review {
  color: #38a9b8;
  font-weight: bold;
  padding-top: 30px;
}

/* Style for the comment input section */
.comment-section {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.comment-section .user-icon {
  font-size: 40px;
  color: #ffffff;
  background-color: #3ea6ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.comment-section input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  outline: none;
}

.comment-section input[type="text"]::placeholder {
  color: #909090;
}

.comment-section .buttons {
  display: flex;
  align-items: center;
  margin-left: 15px;
  padding: 5px 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.comment-section button.submit {
  background-color: #717171;
  color: white;
}

.comment-section button.submit:hover {
  background-color: #027be5;
  color: white;
}

.comment-section button.submit.active {
  background-color: #027be5;
}

.comment-section button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.comment-notfound {
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  color: #6c757d;
}

/* individual reviews */
.reviews {
  margin-top: 5px;
  background-color: #fff;
}

.review {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin-left: 10px;
  position: relative;
}

.review:not(:last-child)::after {
  content: "";
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 5px;
  /* border-bottom: 0.01rem rgb(217, 214, 214) solid; */
  width: calc(100% - 20px);
}

.review .customer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.review .customer .icon {
  font-size: 30px;
  color: #666;
  margin-right: 10px;
}

.review .customer span {
  font-size: 14px;
  font-weight: bold;
}

.review .review-meta {
  font-size: 12px;
  color: #999;
}

.review p {
  margin: 5px 0;
}

.delete-comment-button:hover {
  text-decoration: underline;
}

.comment-form {
  display: flex;
  align-items: center;
}

.custom-pagination {
  margin-left: 592px;
}
